:root {
  /* SURFACES (tema claro) */
  --bg: #f5f9ff;
  --bgSoft: #eef5ff;
  --text: #0b1220;
  --textSoft: #445569;

  /* BRAND / ACCENTS */
  --accent: #2563eb;
  --accentSoft: rgba(37, 99, 235, 0.14);

  /* UI */
  --border: rgba(15, 23, 42, 0.10);
  --shadow: rgba(2, 6, 23, 0.10);

  /* CARDS */
  --card: rgba(255, 255, 255, 0.92);
  --cardHover: rgba(255, 255, 255, 0.98);

  /* FOCUS */
  --focus: rgba(37, 99, 235, 0.25);

  /* NAV / FOOTER (oscuro) */
  --navBg: #0c1e2d;
  --navBgSoft: #102a3f;
  --navText: #e5eff5;
  --navTextSoft: #b9c9d6;
  --navBorder: rgba(229, 239, 245, 0.14);
  --navItemBg: rgba(255, 255, 255, 0.06);

  --success: #16a34a;
  --warn: #eab308;
  --danger: #ef4444;

  --successSoft: rgba(22, 163, 74, 0.14);
  --warnSoft: rgba(234, 179, 8, 0.16);
  --dangerSoft: rgba(239, 68, 68, 0.14);
}

[data-theme="fasec"] {
  --bg: #fff7f1;
  --bgSoft: #fff1e6;
  --text: #111827;
  --textSoft: #4b5563;

  --accent: #f97316;
  --accentSoft: rgba(249, 115, 22, 0.18);

  --border: rgba(17, 24, 39, 0.10);
  --shadow: rgba(2, 6, 23, 0.10);

  --card: rgba(255, 255, 255, 0.94);
  --cardHover: rgba(255, 255, 255, 0.99);

  --focus: rgba(249, 115, 22, 0.26);

  /* NAV / FOOTER (oscuro) */
  --navBg: #070a12;
  --navBgSoft: #0f162b;
  --navText: #f6f7fb;
  --navTextSoft: #c9cce0;
  --navBorder: rgba(246, 247, 251, 0.16);
  --navItemBg: rgba(255, 255, 255, 0.06);

  --success: #16a34a;
  --warn: #eab308;
  --danger: #ef4444;

  --successSoft: rgba(22, 163, 74, 0.14);
  --warnSoft: rgba(234, 179, 8, 0.16);
  --dangerSoft: rgba(239, 68, 68, 0.14);
}
